@charset "UTF-8";
@font-face {
  font-family: IRANSansWeb;
  src: url(../fonts/IRANSansWeb_UltraLight.woff2) format("woff2"), url(../fonts/IRANSansWeb_UltraLight.woff) format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: IRANSansWeb;
  src: url(../fonts/IRANSansWeb_Light.woff2) format("woff2"), url(../fonts/IRANSansWeb_Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: IRANSansWeb;
  src: url(../fonts/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: IRANSansWeb;
  src: url(../fonts/IRANSansWeb_Medium.woff2) format("woff2"), url(../fonts/IRANSansWeb_Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: IRANSansWeb;
  src: url(../fonts/IRANSansWeb_Bold.woff2) format("woff2"), url(../fonts/IRANSansWeb_Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: IRANSansWeb;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  border-collapse: collapse;
  text-decoration: none;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.grid, .grid-row-12, .grid-row-11, .grid-row-10, .grid-row-9, .grid-row-8, .grid-row-7, .grid-row-6, .grid-row-5, .grid-row-4, .grid-row-3, .grid-row-2, .grid-row-1, .grid-col-12, .grid-col-11, .grid-col-10, .grid-col-9, .grid-col-8, .grid-col-7, .grid-col-6, .grid-col-5, .grid-col-4, .grid-col-3, .grid-col-2, .grid-col-1, .grid-12, .grid-11, .grid-10, .grid-9, .grid-8, .grid-7, .grid-6, .grid-5, .grid-4, .grid-3, .grid-2, .grid-1, .grid-0 {
  display: grid;
  grid-gap: 0.3125rem;
  padding: 0.3125rem;
}

.grid-0 {
  grid-template-columns: 0fr 1fr;
}

.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid-9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid-10 {
  grid-template-columns: repeat(10, 1fr);
}

.grid-11 {
  grid-template-columns: repeat(11, 1fr);
}

.grid-12 {
  grid-template-columns: repeat(12, 1fr);
}

.grid-col-1 {
  grid-column: 1 span;
}

.grid-col-2 {
  grid-column: 2 span;
}

.grid-col-3 {
  grid-column: 3 span;
}

.grid-col-4 {
  grid-column: 4 span;
}

.grid-col-5 {
  grid-column: 5 span;
}

.grid-col-6 {
  grid-column: 6 span;
}

.grid-col-7 {
  grid-column: 7 span;
}

.grid-col-8 {
  grid-column: 8 span;
}

.grid-col-9 {
  grid-column: 9 span;
}

.grid-col-10 {
  grid-column: 10 span;
}

.grid-col-11 {
  grid-column: 11 span;
}

.grid-col-12 {
  grid-column: 12 span;
}

.grid-row-1 {
  grid-row: 1 span;
}

.grid-row-2 {
  grid-row: 2 span;
}

.grid-row-3 {
  grid-row: 3 span;
}

.grid-row-4 {
  grid-row: 4 span;
}

.grid-row-5 {
  grid-row: 5 span;
}

.grid-row-6 {
  grid-row: 6 span;
}

.grid-row-7 {
  grid-row: 7 span;
}

.grid-row-8 {
  grid-row: 8 span;
}

.grid-row-9 {
  grid-row: 9 span;
}

.grid-row-10 {
  grid-row: 10 span;
}

.grid-row-11 {
  grid-row: 11 span;
}

.grid-row-12 {
  grid-row: 12 span;
}

.gap-0 {
  gap: 0rem !important;
}

.gap-1 {
  gap: 0.3125rem !important;
}

.gap-2 {
  gap: 0.625rem !important;
}

.gap-3 {
  gap: 0.9375rem !important;
}

.gap-4 {
  gap: 1.25rem !important;
}

.gap-5 {
  gap: 1.5625rem !important;
}

.gap-6 {
  gap: 1.875rem !important;
}

.gap-7 {
  gap: 2.1875rem !important;
}

.gap-8 {
  gap: 2.5rem !important;
}

.gap-9 {
  gap: 2.8125rem !important;
}

.gap-10 {
  gap: 3.125rem !important;
}

.r-gap-0 {
  row-gap: 0rem !important;
}

.r-gap-1 {
  row-gap: 0.3125rem !important;
}

.r-gap-2 {
  row-gap: 0.625rem !important;
}

.r-gap-3 {
  row-gap: 0.9375rem !important;
}

.r-gap-4 {
  row-gap: 1.25rem !important;
}

.r-gap-5 {
  row-gap: 1.5625rem !important;
}

.r-gap-6 {
  row-gap: 1.875rem !important;
}

.r-gap-7 {
  row-gap: 2.1875rem !important;
}

.r-gap-8 {
  row-gap: 2.5rem !important;
}

.r-gap-9 {
  row-gap: 2.8125rem !important;
}

.r-gap-10 {
  row-gap: 3.125rem !important;
}

.c-gap-0 {
  column-gap: 0rem !important;
}

.c-gap-1 {
  column-gap: 0.3125rem !important;
}

.c-gap-2, .form-group {
  column-gap: 0.625rem !important;
}

.c-gap-3 {
  column-gap: 0.9375rem !important;
}

.c-gap-4 {
  column-gap: 1.25rem !important;
}

.c-gap-5 {
  column-gap: 1.5625rem !important;
}

.c-gap-6 {
  column-gap: 1.875rem !important;
}

.c-gap-7 {
  column-gap: 2.1875rem !important;
}

.c-gap-8 {
  column-gap: 2.5rem !important;
}

.c-gap-9 {
  column-gap: 2.8125rem !important;
}

.c-gap-10 {
  column-gap: 3.125rem !important;
}

.flex, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;
  padding: 0.3125rem;
}

.col-1 {
  flex: 1 1 100px;
}

.col-2 {
  flex: 1 1 200px;
}

.col-3 {
  flex: 1 1 300px;
}

.col-4 {
  flex: 1 1 400px;
}

.col-5 {
  flex: 1 1 500px;
}

.col-6 {
  flex: 1 1 600px;
}

.col-7 {
  flex: 1 1 700px;
}

.col-8 {
  flex: 1 1 800px;
}

.col-9 {
  flex: 1 1 900px;
}

.col-10 {
  flex: 1 1 1000px;
}

.col-11 {
  flex: 1 1 1100px;
}

.col-12 {
  flex: 1 1 1200px;
}

@media only screen and (max-width: 768px) {
  .grid-1-md {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-2-md {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3-md {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-4-md {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-5-md {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-6-md {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-7-md {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-8-md {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-9-md {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-10-md {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-11-md {
    grid-template-columns: repeat(11, 1fr);
  }

  .grid-12-md {
    grid-template-columns: repeat(12, 1fr);
  }

  .grid-col-1-md {
    grid-column: 1 span;
  }

  .grid-col-2-md {
    grid-column: 2 span;
  }

  .grid-col-3-md {
    grid-column: 3 span;
  }

  .grid-col-4-md {
    grid-column: 4 span;
  }

  .grid-col-5-md {
    grid-column: 5 span;
  }

  .grid-col-6-md {
    grid-column: 6 span;
  }

  .grid-col-7-md {
    grid-column: 7 span;
  }

  .grid-col-8-md {
    grid-column: 8 span;
  }

  .grid-col-9-md {
    grid-column: 9 span;
  }

  .grid-col-10-md {
    grid-column: 10 span;
  }

  .grid-col-11-md {
    grid-column: 11 span;
  }

  .grid-col-12-md {
    grid-column: 12 span;
  }

  .grid-row-1-md {
    grid-row: 1 span;
  }

  .grid-row-2-md {
    grid-row: 2 span;
  }

  .grid-row-3-md {
    grid-row: 3 span;
  }

  .grid-row-4-md {
    grid-row: 4 span;
  }

  .grid-row-5-md {
    grid-row: 5 span;
  }

  .grid-row-6-md {
    grid-row: 6 span;
  }

  .grid-row-7-md {
    grid-row: 7 span;
  }

  .grid-row-8-md {
    grid-row: 8 span;
  }

  .grid-row-9-md {
    grid-row: 9 span;
  }

  .grid-row-10-md {
    grid-row: 10 span;
  }

  .grid-row-11-md {
    grid-row: 11 span;
  }

  .grid-row-12-md {
    grid-row: 12 span;
  }

  .grid-0-md {
    grid-template-columns: 0fr 1fr;
  }

  .r-gap-0-md {
    row-gap: 0rem !important;
  }

  .r-gap-1-md {
    row-gap: 0.3125rem !important;
  }

  .r-gap-2-md {
    row-gap: 0.625rem !important;
  }

  .r-gap-3-md {
    row-gap: 0.9375rem !important;
  }

  .r-gap-4-md {
    row-gap: 1.25rem !important;
  }

  .r-gap-5-md {
    row-gap: 1.5625rem !important;
  }

  .r-gap-6-md {
    row-gap: 1.875rem !important;
  }

  .r-gap-7-md {
    row-gap: 2.1875rem !important;
  }

  .r-gap-8-md {
    row-gap: 2.5rem !important;
  }

  .r-gap-9-md {
    row-gap: 2.8125rem !important;
  }

  .r-gap-10-md {
    row-gap: 3.125rem !important;
  }

  .c-gap-0-md {
    column-gap: 0rem !important;
  }

  .c-gap-1-md {
    column-gap: 0.3125rem !important;
  }

  .c-gap-2-md {
    column-gap: 0.625rem !important;
  }

  .c-gap-3-md {
    column-gap: 0.9375rem !important;
  }

  .c-gap-4-md {
    column-gap: 1.25rem !important;
  }

  .c-gap-5-md {
    column-gap: 1.5625rem !important;
  }

  .c-gap-6-md {
    column-gap: 1.875rem !important;
  }

  .c-gap-7-md {
    column-gap: 2.1875rem !important;
  }

  .c-gap-8-md {
    column-gap: 2.5rem !important;
  }

  .c-gap-9-md {
    column-gap: 2.8125rem !important;
  }

  .c-gap-10-md {
    column-gap: 3.125rem !important;
  }
}
@media only screen and (max-width: 480px) {
  .grid-1-sm {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-2-sm {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3-sm {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-4-sm {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-5-sm {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-6-sm {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-7-sm {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-8-sm {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid-9-sm {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid-10-sm {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-11-sm {
    grid-template-columns: repeat(11, 1fr);
  }

  .grid-12-sm {
    grid-template-columns: repeat(12, 1fr);
  }

  .grid-col-1-sm {
    grid-column: 1 span;
  }

  .grid-col-2-sm {
    grid-column: 2 span;
  }

  .grid-col-3-sm {
    grid-column: 3 span;
  }

  .grid-col-4-sm {
    grid-column: 4 span;
  }

  .grid-col-5-sm {
    grid-column: 5 span;
  }

  .grid-col-6-sm {
    grid-column: 6 span;
  }

  .grid-col-7-sm {
    grid-column: 7 span;
  }

  .grid-col-8-sm {
    grid-column: 8 span;
  }

  .grid-col-9-sm {
    grid-column: 9 span;
  }

  .grid-col-10-sm {
    grid-column: 10 span;
  }

  .grid-col-11-sm {
    grid-column: 11 span;
  }

  .grid-col-12-sm {
    grid-column: 12 span;
  }

  .grid-row-1-sm {
    grid-row: 1 span;
  }

  .grid-row-2-sm {
    grid-row: 2 span;
  }

  .grid-row-3-sm {
    grid-row: 3 span;
  }

  .grid-row-4-sm {
    grid-row: 4 span;
  }

  .grid-row-5-sm {
    grid-row: 5 span;
  }

  .grid-row-6-sm {
    grid-row: 6 span;
  }

  .grid-row-7-sm {
    grid-row: 7 span;
  }

  .grid-row-8-sm {
    grid-row: 8 span;
  }

  .grid-row-9-sm {
    grid-row: 9 span;
  }

  .grid-row-10-sm {
    grid-row: 10 span;
  }

  .grid-row-11-sm {
    grid-row: 11 span;
  }

  .grid-row-12-sm {
    grid-row: 12 span;
  }

  .grid-0-sm {
    grid-template-columns: 0fr 1fr;
  }

  .r-gap-0-sm {
    row-gap: 0rem !important;
  }

  .r-gap-1-sm {
    row-gap: 0.3125rem !important;
  }

  .r-gap-2-sm {
    row-gap: 0.625rem !important;
  }

  .r-gap-3-sm {
    row-gap: 0.9375rem !important;
  }

  .r-gap-4-sm {
    row-gap: 1.25rem !important;
  }

  .r-gap-5-sm {
    row-gap: 1.5625rem !important;
  }

  .r-gap-6-sm {
    row-gap: 1.875rem !important;
  }

  .r-gap-7-sm {
    row-gap: 2.1875rem !important;
  }

  .r-gap-8-sm {
    row-gap: 2.5rem !important;
  }

  .r-gap-9-sm {
    row-gap: 2.8125rem !important;
  }

  .r-gap-10-sm {
    row-gap: 3.125rem !important;
  }

  .c-gap-0-sm {
    column-gap: 0rem !important;
  }

  .c-gap-1-sm {
    column-gap: 0.3125rem !important;
  }

  .c-gap-2-sm {
    column-gap: 0.625rem !important;
  }

  .c-gap-3-sm {
    column-gap: 0.9375rem !important;
  }

  .c-gap-4-sm {
    column-gap: 1.25rem !important;
  }

  .c-gap-5-sm {
    column-gap: 1.5625rem !important;
  }

  .c-gap-6-sm {
    column-gap: 1.875rem !important;
  }

  .c-gap-7-sm {
    column-gap: 2.1875rem !important;
  }

  .c-gap-8-sm {
    column-gap: 2.5rem !important;
  }

  .c-gap-9-sm {
    column-gap: 2.8125rem !important;
  }

  .c-gap-10-sm {
    column-gap: 3.125rem !important;
  }
}
.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.d-grid {
  display: grid;
}

.d-flex, .form-group-item.input-text, .form-group {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.fd-column {
  flex-direction: column;
}

.fd-column-reverse, .form-group-item.input-text {
  flex-direction: column-reverse;
}

.fd-row {
  flex-direction: row;
}

.fd-row-reverse {
  flex-direction: row-reverse;
}

.fw-wrap {
  flex-wrap: wrap;
}

.fw-nowrap {
  flex-wrap: nowrap;
}

.fw-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.jc-start {
  justify-content: start;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: end;
}

.ai-start {
  align-items: start;
}

.ai-baseline {
  align-items: baseline;
}

.ai-stretch {
  align-items: stretch;
}

.ac-center {
  align-content: center;
}

.ac-end {
  align-content: end;
}

.ac-start {
  align-content: start;
}

.ac-baseline {
  align-content: baseline;
}

.ac-stretch {
  align-content: stretch;
}

.ac-space-between {
  align-content: space-between;
}

.ac-space-around {
  align-content: space-around;
}

.ac-space-evenly {
  align-content: space-evenly;
}

.fg-0 {
  flex-grow: 0;
}

.fg-1 {
  flex-grow: 1;
}

.fg-2 {
  flex-grow: 2;
}

.fg-3 {
  flex-grow: 3;
}

.fg-4 {
  flex-grow: 4;
}

.fg-5 {
  flex-grow: 5;
}

.fg-6 {
  flex-grow: 6;
}

.fg-7 {
  flex-grow: 7;
}

.fg-8 {
  flex-grow: 8;
}

.fg-9 {
  flex-grow: 9;
}

.fg-10 {
  flex-grow: 10;
}

.fg-0 {
  flex-shrink: 0;
}

.fg-1 {
  flex-shrink: 1;
}

.fg-2 {
  flex-shrink: 2;
}

.fg-3 {
  flex-shrink: 3;
}

.fg-4 {
  flex-shrink: 4;
}

.fg-5 {
  flex-shrink: 5;
}

.fg-6 {
  flex-shrink: 6;
}

.fg-7 {
  flex-shrink: 7;
}

.fg-8 {
  flex-shrink: 8;
}

.fg-9 {
  flex-shrink: 9;
}

.fg-10 {
  flex-shrink: 10;
}

.fb-0 {
  flex-basis: 0%;
}

.fb-1 {
  flex-basis: 10%;
}

.fb-2 {
  flex-basis: 20%;
}

.fb-3 {
  flex-basis: 30%;
}

.fb-4 {
  flex-basis: 40%;
}

.fb-5 {
  flex-basis: 50%;
}

.fb-6 {
  flex-basis: 60%;
}

.fb-7 {
  flex-basis: 70%;
}

.fb-8 {
  flex-basis: 80%;
}

.fb-9 {
  flex-basis: 90%;
}

.fb-10 {
  flex-basis: 100%;
}

.pos-relative, .form-group-item.input-text {
  position: relative;
}

.pos-absolute, .input-error:after, .input-danger:after, .input-success:after, .form-group-item .input-icon {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.cur-zoom-in {
  cursor: zoom-in;
}

.cur-zoom-out {
  cursor: zoom-out;
}

.cur-alias {
  cursor: alias;
}

.cur-all-scroll {
  cursor: all-scroll;
}

.cur-cell {
  cursor: cell;
}

.cur-col-resize {
  cursor: col-resize;
}

.cur-context-menu {
  cursor: context-menu;
}

.cur-help {
  cursor: help;
}

.cur-move {
  cursor: move;
}

.cur-pointer {
  cursor: pointer;
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-1 {
  transform: rotate(45deg);
}

.rotate-2 {
  transform: rotate(90deg);
}

.rotate-3 {
  transform: rotate(135deg);
}

.rotate-4 {
  transform: rotate(180deg);
}

.rotate-5 {
  transform: rotate(225deg);
}

.rotate-6 {
  transform: rotate(270deg);
}

.rotate-7 {
  transform: rotate(315deg);
}

.rotate-8 {
  transform: rotate(360deg);
}

@media only screen and (max-width: 768px) {
  .fd-column-md {
    flex-direction: column;
  }

  .fd-column-reverse-md {
    flex-direction: column-reverse;
  }

  .fd-row-md {
    flex-direction: row;
  }

  .fd-row-reverse-md {
    flex-direction: row-reverse;
  }

  .fw-wrap-md {
    flex-wrap: wrap;
  }

  .fw-nowrap-md {
    flex-wrap: nowrap;
  }

  .fw-wrap-reverse-md {
    flex-wrap: wrap-reverse;
  }

  .jc-center-md {
    justify-content: center;
  }

  .jc-end-md {
    justify-content: end;
  }

  .jc-start-md {
    justify-content: start;
  }

  .jc-space-between-md {
    justify-content: space-between;
  }

  .jc-space-around-md {
    justify-content: space-around;
  }

  .jc-space-evenly-md {
    justify-content: space-evenly;
  }

  .ai-center-md {
    align-items: center;
  }

  .ai-end-md {
    align-items: end;
  }

  .ai-start-md {
    align-items: start;
  }

  .ai-baseline-md {
    align-items: baseline;
  }

  .ai-stretch-md {
    align-items: stretch;
  }

  .ac-center-md {
    align-content: center;
  }

  .ac-end-md {
    align-content: end;
  }

  .ac-start-md {
    align-content: start;
  }

  .ac-baseline-md {
    align-content: baseline;
  }

  .ac-stretch-md {
    align-content: stretch;
  }

  .ac-space-between-md {
    align-content: space-between;
  }

  .ac-space-around-md {
    align-content: space-around;
  }

  .ac-space-evenly-md {
    align-content: space-evenly;
  }
}
@media only screen and (max-width: 480px) {
  .fd-column-sm {
    flex-direction: column;
  }

  .fd-column-reverse-sm {
    flex-direction: column-reverse;
  }

  .fd-row-sm {
    flex-direction: row;
  }

  .fd-row-reverse-sm {
    flex-direction: row-reverse;
  }

  .fw-wrap-sm {
    flex-wrap: wrap;
  }

  .fw-nowrap-sm {
    flex-wrap: nowrap;
  }

  .fw-wrap-reverse-sm {
    flex-wrap: wrap-reverse;
  }

  .jc-center-sm {
    justify-content: center;
  }

  .jc-end-sm {
    justify-content: end;
  }

  .jc-start-sm {
    justify-content: start;
  }

  .jc-space-between-sm {
    justify-content: space-between;
  }

  .jc-space-around-sm {
    justify-content: space-around;
  }

  .jc-space-evenly-sm {
    justify-content: space-evenly;
  }

  .ai-center-sm {
    align-items: center;
  }

  .ai-end-sm {
    align-items: end;
  }

  .ai-start-sm {
    align-items: start;
  }

  .ai-baseline-sm {
    align-items: baseline;
  }

  .ai-stretch-sm {
    align-items: stretch;
  }

  .ac-center-sm {
    align-content: center;
  }

  .ac-end-sm {
    align-content: end;
  }

  .ac-start-sm {
    align-content: start;
  }

  .ac-baseline-sm {
    align-content: baseline;
  }

  .ac-stretch-sm {
    align-content: stretch;
  }

  .ac-space-between-sm {
    align-content: space-between;
  }

  .ac-space-around-sm {
    align-content: space-around;
  }

  .ac-space-evenly-sm {
    align-content: space-evenly;
  }
}
.white {
  color: #fff !important;
}

.gray-100 {
  color: #f8f9fa !important;
}

.gray-200 {
  color: #e9ecef !important;
}

.gray-300 {
  color: #dee2e6 !important;
}

.gray-400 {
  color: #ced4da !important;
}

.gray-500 {
  color: #adb5bd !important;
}

.gray-600 {
  color: #6c757d !important;
}

.gray-700 {
  color: #495057 !important;
}

.gray-800 {
  color: #343a40 !important;
}

.gray-900 {
  color: #212529 !important;
}

.black {
  color: #000 !important;
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: none;
  outline: none;
  position: relative;
  margin: 0.25rem 0.0625rem;
  padding: 0.6875rem 2.5rem;
  border-radius: 0.4285rem;
  cursor: pointer;
  background-color: #344675;
  background-size: 210% 210%;
  background-position: 100% 0;
  font-size: 0.875rem;
  line-height: 1.35em;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #fff;
}
.btn:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.gradient-default {
  background-image: linear-gradient(to bottom left, #344675, #263148, #344675);
}

.gradient-primary {
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
}

.gradient-info {
  background-image: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
}

.gradient-success {
  background-image: linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
}

.gradient-warning {
  background-image: linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
}

.gradient-danger {
  background-image: linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
}

.background-primary {
  background: #e66ad2;
}

.background-info {
  background: #419ef9;
}

.background-success {
  background: #00bf9a;
}

.background-warning {
  background: #ff9f89;
}

.background-danger {
  background: #fd77a4;
}

.btn-sm {
  font-size: 0.625rem;
  border-radius: 0.2857rem;
  padding: 0.375rem 1rem;
}

.btn-md {
  font-size: 0.775rem;
  border-radius: 0.2857rem;
  padding: 0.5rem 1.375rem;
}

.btn-lg {
  font-size: 0.875rem;
  border-radius: 0.2857rem;
  padding: 0.625rem 2.5rem;
}

.btn-sound {
  border-radius: 30px;
}

.btn-link {
  color: #e14eca;
  background: transparent;
  margin: 0.25rem 0.0625rem;
  padding: 0.625rem 1rem;
}

.btn-link-border {
  color: #e14eca;
  border-color: #e14eca;
  border: 1px solid;
  background: transparent;
}

.drop-down-child {
  background: #ffffff;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  color: #525f7f;
  border-radius: 0.1428rem;
  position: absolute;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: block;
  opacity: 0;
  transition: transform 0.3s linear, opacity 0.4s ease-in-out;
  transform: translate(0px, -10px);
  visibility: hidden;
  min-width: 10rem;
}

.drop-down-child::after {
  content: "";
  position: absolute;
  left: 60%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  transform: rotate(180deg) !important;
  bottom: calc(100% - 1px);
}

.active-rotate-drop-down-icon {
  transform: rotate(180deg);
  transition: all ease-in-out 0.3s;
}

.active-drop-down {
  transform: translate(0px, 0px) !important;
  opacity: 1 !important;
  visibility: visible;
}

.with-icon {
  display: flex;
  justify-content: space-between;
  padding: 0.6875rem 0.625rem;
  align-items: center;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade {
  animation: fade 0.3s;
}

.drop-down-child li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.drop-down-child li a {
  text-decoration: none;
  display: inline-block;
  color: #525f7f;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 0.75rem;
}

.drop-down-child li:first-child {
  padding-top: 3px !important;
  border-top: none;
}

.b-no {
  border-radius: 0rem !important;
}

.b-sm, .quote, input[type=text] {
  border-radius: 0.3125rem !important;
}

.b-md {
  border-radius: 0.625rem !important;
}

.b-l {
  border-radius: 0.9375rem !important;
}

.b-xl {
  border-radius: 3.75rem !important;
}

.br-no {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.bl-no {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.bt-no {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.bb-no {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.bt-none {
  border-top: none !important;
}

.bb-none {
  border-bottom: none !important;
}

.br-none {
  border-right: none !important;
}

.bl-none {
  border-left: none !important;
}

.b-none {
  border: none !important;
}

.after-none::after {
  display: none;
}

.before-none::before {
  display: none;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1.125rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.9375rem;
  transition: 0.4s;
}

.panel {
  padding: 0rem 0.3125rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out, margin linear 0.1s;
  text-align: justify;
  color: #fff;
}

.tab {
  overflow: hidden;
}
.tab .tab-button {
  transition: 0.3s;
  font-size: 1rem;
}
.tab .tab-button:hover {
  background-color: #ddd;
}

.tab-direction {
  display: flex;
  flex-direction: column;
}

.tab-content {
  display: none;
  padding: 0.375rem 0.75rem;
}

.active-tab {
  display: block;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  color: #bfbfbd;
  text-align: right;
}

.table tr {
  display: block;
  padding: 0.6rem 0.4rem;
}

.table th,
.table td {
  padding: 0.3125rem;
  min-width: 400px;
}

.table thead {
  color: #FDFDFD;
  display: block;
  font-weight: 600;
}

.table thead tr {
  display: block;
  position: relative;
}

.table tbody {
  display: block;
  overflow: auto;
  width: 100%;
}

.table tbody tr {
  border-top: solid 0.01rem rgba(255, 255, 255, 0.3);
}

.table-dark tbody tr:nth-child(even) {
  background-color: #ffffff;
  color: #344675;
  font-weight: 500;
}

.table-primary tbody tr:nth-child(even) {
  background: #e66ad2;
  color: #ffffff;
  font-weight: 500;
}
.table-primary tbody tr {
  border: none !important;
}

.table-info tbody tr:nth-child(even) {
  background: #419ef9;
  color: #ffffff;
  font-weight: 500;
}
.table-info tbody tr {
  border: none !important;
}

.table-success tbody tr:nth-child(even) {
  background: #00bf9a;
  color: #ffffff;
  font-weight: 500;
}
.table-success tbody tr {
  border: none !important;
}

.table-warning tbody tr:nth-child(even) {
  background: #ff9f89;
  color: #ffffff;
  font-weight: 500;
}
.table-warning tbody tr {
  border: none !important;
}

.table-danger tbody tr:nth-child(even) {
  background: #fd77a4;
  color: #ffffff;
  font-weight: 500;
}
.table-danger tbody tr {
  border: none !important;
}

.table-mw-1 th,
.table-mw-1 td {
  min-width: 100px !important;
}

.table-mw-2 th,
.table-mw-2 td {
  min-width: 200px !important;
}

.table-mw-3 th,
.table-mw-3 td {
  min-width: 300px !important;
}

.table-mw-4 th,
.table-mw-4 td {
  min-width: 400px !important;
}

.table-mw-5 th,
.table-mw-5 td {
  min-width: 500px !important;
}

.table-mw-6 th,
.table-mw-6 td {
  min-width: 600px !important;
}

.table-mw-7 th,
.table-mw-7 td {
  min-width: 700px !important;
}

.table-mw-8 th,
.table-mw-8 td {
  min-width: 800px !important;
}

.table-mw-9 th,
.table-mw-9 td {
  min-width: 900px !important;
}

.table-mw-10 th,
.table-mw-10 td {
  min-width: 1000px !important;
}

@media only screen and (max-width: 768px) {
  .table-mw-1-md th,
  .table-mw-1-md td {
    min-width: 100px !important;
  }

  .table-mw-2-md th,
  .table-mw-2-md td {
    min-width: 200px !important;
  }

  .table-mw-3-md th,
  .table-mw-3-md td {
    min-width: 300px !important;
  }

  .table-mw-4-md th,
  .table-mw-4-md td {
    min-width: 400px !important;
  }

  .table-mw-5-md th,
  .table-mw-5-md td {
    min-width: 500px !important;
  }

  .table-mw-6-md th,
  .table-mw-6-md td {
    min-width: 600px !important;
  }

  .table-mw-7-md th,
  .table-mw-7-md td {
    min-width: 700px !important;
  }

  .table-mw-8-md th,
  .table-mw-8-md td {
    min-width: 800px !important;
  }

  .table-mw-9-md th,
  .table-mw-9-md td {
    min-width: 900px !important;
  }

  .table-mw-10-md th,
  .table-mw-10-md td {
    min-width: 1000px !important;
  }
}
@media only screen and (max-width: 480px) {
  .table-mw-1-sm th,
  .table-mw-1-sm td {
    min-width: 100px !important;
  }

  .table-mw-2-sm th,
  .table-mw-2-sm td {
    min-width: 200px !important;
  }

  .table-mw-3-sm th,
  .table-mw-3-sm td {
    min-width: 300px !important;
  }

  .table-mw-4-sm th,
  .table-mw-4-sm td {
    min-width: 400px !important;
  }

  .table-mw-5-sm th,
  .table-mw-5-sm td {
    min-width: 500px !important;
  }

  .table-mw-6-sm th,
  .table-mw-6-sm td {
    min-width: 600px !important;
  }

  .table-mw-7-sm th,
  .table-mw-7-sm td {
    min-width: 700px !important;
  }

  .table-mw-8-sm th,
  .table-mw-8-sm td {
    min-width: 800px !important;
  }

  .table-mw-9-sm th,
  .table-mw-9-sm td {
    min-width: 900px !important;
  }

  .table-mw-10-sm th,
  .table-mw-10-sm td {
    min-width: 1000px !important;
  }
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox],
  input[type=radio] {
    --active: #e14eca;
    --active-inner: #fff;
    --focus: 2px rgb(225,78,202, .3);
    --border: #BBC1E1;
    --border-hover: #e66ad2;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    --test-color: #27293d;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--bordswitcher));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after,
  input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked,
  input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type=checkbox]:disabled,
  input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked,
  input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label,
  input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus,
  input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch),
  input[type=radio]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after,
  input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked,
  input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label,
  input[type=radio] + label {
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-right: 4px;
    color: rgba(255, 255, 255, 0.6);
  }

  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  input[type=checkbox] + label {
    color: rgba(255, 255, 255, 0.6);
  }

  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: .5;
  }
}
input[type=text] {
  border: #2b3553 solid 0.05rem;
  outline: none;
  background: transparent;
  transition: all ease-in-out 0.3s;
  color: #FFFFFF;
  padding: 0.625rem 1.125rem;
}
input[type=text]:focus {
  border-color: #e14eca;
}
input[type=text]::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
}
input[type=text]:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
input[type=text]:disabled + label {
  cursor: not-allowed;
  opacity: 0.3;
}

textarea {
  border: none;
  border-bottom: #2b3553 solid 0.05rem;
  outline: none;
  background: transparent;
  transition: all ease-in-out 0.3s;
  color: #FFFFFF;
  padding: 0.5rem 0.625rem;
}
textarea:focus {
  border-color: #e14eca;
}
textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
}

.form-group-item .input-icon {
  bottom: 0.8rem;
  right: 1rem;
  color: #93949e;
}

.input-success:after {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  border: solid #11bf9d;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  bottom: 1rem;
  left: 1rem;
}
.input-success input[type=text]:focus {
  border: solid 0.05rem #11bf9d;
}

.input-danger:after {
  content: "!";
  bottom: 0.6rem;
  left: 0.8rem;
}
.input-danger input[type=text]:focus {
  border: solid 0.05rem #ff9f89;
}

.input-error:after {
  content: "×";
  bottom: 0.6rem;
  left: 0.8rem;
}
.input-error input[type=text]:focus {
  border: solid 0.05rem #fd77a4;
}

.input-label {
  color: rgba(255, 255, 255, 0.6);
}

.resize-none {
  resize: none;
}

.resize-ver {
  resize: vertical;
}

.resize-hor {
  resize: horizontal;
}

input + label {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.popup {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  justify-content: center;
}

.popup .popup-header {
  visibility: hidden;
  background-color: #fff;
  color: #212529;
  text-align: justify;
  border-radius: 6px;
  padding: 0.5rem 0.9375rem;
  position: absolute;
  z-index: 1;
}

.popup .popup-header::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.popup:hover .popup-header {
  visibility: visible;
  animation: fade 0.7s;
}

.popup-header span {
  color: #2c3e50;
  display: block;
  padding: 0.3125rem 0rem 0.9375rem;
  font-weight: 500;
  font-size: 1rem;
}

.popup-header p {
  color: rgba(33, 37, 41, 0.8);
}

.pop-left .popup-header {
  bottom: -100% !important;
  right: 110% !important;
}

.pop-left .popup-header::after {
  top: 60% !important;
  left: calc(100% + 5px) !important;
  transform: rotate(270deg) !important;
}

.pop-right .popup-header {
  bottom: -100% !important;
  left: 110% !important;
}

.pop-right .popup-header::after {
  top: 60% !important;
  right: 100% !important;
  transform: rotate(90deg) !important;
}

.pop-bottom .popup-header {
  top: 120% !important;
}

.pop-bottom .popup-header::after {
  top: calc(0% - 10px) !important;
  transform: rotate(180deg) !important;
}

.pop-top .popup-header {
  bottom: 120% !important;
}

.pop-top .popup-header::after {
  top: calc(100% - 1px) !important;
  transform: rotate(0deg) !important;
}

.slide-container {
  height: 70vh;
  margin: 1rem auto;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.2rem solid #e14eca;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
}
.slide img {
  max-width: 100%;
}

.dot {
  height: 0.8125rem;
  width: 0.8125rem;
  background-color: rgba(44, 62, 80, 0.3);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #2c3e50;
}

.dots {
  z-index: 999;
  bottom: 20px;
  position: absolute;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.04);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.1875rem;
  align-items: center;
  padding: 0.3125rem;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin: -22px 10px 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px;
}

.prev {
  left: 0;
  border-radius: 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

h1 {
  line-height: 1.05em;
  margin-bottom: 1rem;
  font-size: 2.0625rem;
}

h2 {
  line-height: 1.2em;
  margin-bottom: 1rem;
  font-size: 1.6875rem;
}

h3 {
  line-height: 1.4em;
  margin-bottom: 1rem;
  font-size: 1.4375rem;
}

h4 {
  line-height: 1.45em;
  margin-bottom: 1rem;
  font-size: 1.0625rem;
}

h5 {
  line-height: 1.4em;
  margin-bottom: 1rem;
  font-size: 0.8125rem;
}

h6 {
  line-height: 1.2em;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
  font-weight: 400;
}

.title {
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  text-transform: none;
}
.title .desc {
  font-size: 80%;
  font-weight: 400;
}

.quote {
  border: #e14eca 1px solid;
  color: #e14eca;
  padding: 1.25rem;
  font-size: 0.9625rem;
  line-height: 1.8;
}

.color-primary {
  color: #e14eca !important;
}

.color-info {
  color: #1d8cf8 !important;
}

.color-success {
  color: #00bf9a !important;
}

.color-danger {
  color: #fd5d93 !important;
}

.color-warning {
  color: #ff8d72 !important;
}

.color-default {
  color: #344675 !important;
}

.color-light-primary {
  color: #e66ad2 !important;
}

.color-light-info {
  color: #419ef9 !important;
}

.color-light-success {
  color: #00bf9a !important;
}

.color-light-danger, .input-error:after {
  color: #fd77a4 !important;
}

.color-light-warning, .input-danger:after {
  color: #ff9f89 !important;
}

.color-light-default {
  color: #54648b !important;
}

.white {
  color: #fff !important;
}

.p-0 {
  padding: 0rem !important;
}

.p-1 {
  padding: 0.625rem !important;
}

.p-2 {
  padding: 1.25rem !important;
}

.p-3 {
  padding: 1.875rem !important;
}

.p-4 {
  padding: 2.5rem !important;
}

.p-5 {
  padding: 3.125rem !important;
}

.p-6 {
  padding: 3.75rem !important;
}

.p-7 {
  padding: 4.375rem !important;
}

.p-8 {
  padding: 5rem !important;
}

.p-9 {
  padding: 5.625rem !important;
}

.p-10 {
  padding: 6.25rem !important;
}

.pl-0 {
  padding-left: 0rem !important;
}

.pl-1 {
  padding-left: 0.625rem !important;
}

.pl-2 {
  padding-left: 1.25rem !important;
}

.pl-3 {
  padding-left: 1.875rem !important;
}

.pl-4 {
  padding-left: 2.5rem !important;
}

.pl-5 {
  padding-left: 3.125rem !important;
}

.pl-6 {
  padding-left: 3.75rem !important;
}

.pl-7 {
  padding-left: 4.375rem !important;
}

.pl-8 {
  padding-left: 5rem !important;
}

.pl-9 {
  padding-left: 5.625rem !important;
}

.pl-10 {
  padding-left: 6.25rem !important;
}

.pt-0 {
  padding-top: 0rem !important;
}

.pt-1 {
  padding-top: 0.625rem !important;
}

.pt-2 {
  padding-top: 1.25rem !important;
}

.pt-3 {
  padding-top: 1.875rem !important;
}

.pt-4 {
  padding-top: 2.5rem !important;
}

.pt-5 {
  padding-top: 3.125rem !important;
}

.pt-6 {
  padding-top: 3.75rem !important;
}

.pt-7 {
  padding-top: 4.375rem !important;
}

.pt-8 {
  padding-top: 5rem !important;
}

.pt-9 {
  padding-top: 5.625rem !important;
}

.pt-10 {
  padding-top: 6.25rem !important;
}

.pr-0 {
  padding-right: 0rem !important;
}

.pr-1 {
  padding-right: 0.625rem !important;
}

.pr-2 {
  padding-right: 1.25rem !important;
}

.pr-3 {
  padding-right: 1.875rem !important;
}

.pr-4, .form-has-icon input[type=text] {
  padding-right: 2.5rem !important;
}

.pr-5 {
  padding-right: 3.125rem !important;
}

.pr-6 {
  padding-right: 3.75rem !important;
}

.pr-7 {
  padding-right: 4.375rem !important;
}

.pr-8 {
  padding-right: 5rem !important;
}

.pr-9 {
  padding-right: 5.625rem !important;
}

.pr-10 {
  padding-right: 6.25rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.pb-1 {
  padding-bottom: 0.625rem !important;
}

.pb-2 {
  padding-bottom: 1.25rem !important;
}

.pb-3 {
  padding-bottom: 1.875rem !important;
}

.pb-4 {
  padding-bottom: 2.5rem !important;
}

.pb-5 {
  padding-bottom: 3.125rem !important;
}

.pb-6 {
  padding-bottom: 3.75rem !important;
}

.pb-7 {
  padding-bottom: 4.375rem !important;
}

.pb-8 {
  padding-bottom: 5rem !important;
}

.pb-9 {
  padding-bottom: 5.625rem !important;
}

.pb-10 {
  padding-bottom: 6.25rem !important;
}

.ptb-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.ptb-1, .input-label {
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important;
}

.ptb-2 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.ptb-3 {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important;
}

.ptb-4 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.ptb-5 {
  padding-top: 3.125rem !important;
  padding-bottom: 3.125rem !important;
}

.ptb-6 {
  padding-top: 3.75rem !important;
  padding-bottom: 3.75rem !important;
}

.ptb-7 {
  padding-top: 4.375rem !important;
  padding-bottom: 4.375rem !important;
}

.ptb-8 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.ptb-9 {
  padding-top: 5.625rem !important;
  padding-bottom: 5.625rem !important;
}

.ptb-10 {
  padding-top: 6.25rem !important;
  padding-bottom: 6.25rem !important;
}

.prl-0 {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.prl-1 {
  padding-right: 0.625rem !important;
  padding-left: 0.625rem !important;
}

.prl-2 {
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
}

.prl-3 {
  padding-right: 1.875rem !important;
  padding-left: 1.875rem !important;
}

.prl-4 {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}

.prl-5 {
  padding-right: 3.125rem !important;
  padding-left: 3.125rem !important;
}

.prl-6 {
  padding-right: 3.75rem !important;
  padding-left: 3.75rem !important;
}

.prl-7 {
  padding-right: 4.375rem !important;
  padding-left: 4.375rem !important;
}

.prl-8 {
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}

.prl-9 {
  padding-right: 5.625rem !important;
  padding-left: 5.625rem !important;
}

.prl-10 {
  padding-right: 6.25rem !important;
  padding-left: 6.25rem !important;
}

.m-0 {
  margin: 0rem !important;
}

.m-1 {
  margin: 0.625rem !important;
}

.m-2 {
  margin: 1.25rem !important;
}

.m-3 {
  margin: 1.875rem !important;
}

.m-4 {
  margin: 2.5rem !important;
}

.m-5 {
  margin: 3.125rem !important;
}

.m-6 {
  margin: 3.75rem !important;
}

.m-7 {
  margin: 4.375rem !important;
}

.m-8 {
  margin: 5rem !important;
}

.m-9 {
  margin: 5.625rem !important;
}

.m-10 {
  margin: 6.25rem !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mt-1 {
  margin-top: 0.625rem !important;
}

.mt-2 {
  margin-top: 1.25rem !important;
}

.mt-3 {
  margin-top: 1.875rem !important;
}

.mt-4 {
  margin-top: 2.5rem !important;
}

.mt-5 {
  margin-top: 3.125rem !important;
}

.mt-6 {
  margin-top: 3.75rem !important;
}

.mt-7 {
  margin-top: 4.375rem !important;
}

.mt-8 {
  margin-top: 5rem !important;
}

.mt-9 {
  margin-top: 5.625rem !important;
}

.mt-10 {
  margin-top: 6.25rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.mb-1 {
  margin-bottom: 0.625rem !important;
}

.mb-2 {
  margin-bottom: 1.25rem !important;
}

.mb-3 {
  margin-bottom: 1.875rem !important;
}

.mb-4 {
  margin-bottom: 2.5rem !important;
}

.mb-5 {
  margin-bottom: 3.125rem !important;
}

.mb-6 {
  margin-bottom: 3.75rem !important;
}

.mb-7 {
  margin-bottom: 4.375rem !important;
}

.mb-8 {
  margin-bottom: 5rem !important;
}

.mb-9 {
  margin-bottom: 5.625rem !important;
}

.mb-10 {
  margin-bottom: 6.25rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.mr-1 {
  margin-right: 0.625rem !important;
}

.mr-2 {
  margin-right: 1.25rem !important;
}

.mr-3 {
  margin-right: 1.875rem !important;
}

.mr-4 {
  margin-right: 2.5rem !important;
}

.mr-5 {
  margin-right: 3.125rem !important;
}

.mr-6 {
  margin-right: 3.75rem !important;
}

.mr-7 {
  margin-right: 4.375rem !important;
}

.mr-8 {
  margin-right: 5rem !important;
}

.mr-9 {
  margin-right: 5.625rem !important;
}

.mr-10 {
  margin-right: 6.25rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.ml-1 {
  margin-left: 0.625rem !important;
}

.ml-2 {
  margin-left: 1.25rem !important;
}

.ml-3 {
  margin-left: 1.875rem !important;
}

.ml-4 {
  margin-left: 2.5rem !important;
}

.ml-5 {
  margin-left: 3.125rem !important;
}

.ml-6 {
  margin-left: 3.75rem !important;
}

.ml-7 {
  margin-left: 4.375rem !important;
}

.ml-8 {
  margin-left: 5rem !important;
}

.ml-9 {
  margin-left: 5.625rem !important;
}

.ml-10 {
  margin-left: 6.25rem !important;
}

.mtb-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.mtb-1 {
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important;
}

.mtb-2 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

.mtb-3 {
  margin-top: 1.875rem !important;
  margin-bottom: 1.875rem !important;
}

.mtb-4 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

.mtb-5 {
  margin-top: 3.125rem !important;
  margin-bottom: 3.125rem !important;
}

.mtb-6 {
  margin-top: 3.75rem !important;
  margin-bottom: 3.75rem !important;
}

.mtb-7 {
  margin-top: 4.375rem !important;
  margin-bottom: 4.375rem !important;
}

.mtb-8 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.mtb-9 {
  margin-top: 5.625rem !important;
  margin-bottom: 5.625rem !important;
}

.mtb-10 {
  margin-top: 6.25rem !important;
  margin-bottom: 6.25rem !important;
}

.mrl-0 {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.mrl-1 {
  margin-right: 0.625rem !important;
  margin-left: 0.625rem !important;
}

.mrl-2 {
  margin-right: 1.25rem !important;
  margin-left: 1.25rem !important;
}

.mrl-3 {
  margin-right: 1.875rem !important;
  margin-left: 1.875rem !important;
}

.mrl-4 {
  margin-right: 2.5rem !important;
  margin-left: 2.5rem !important;
}

.mrl-5 {
  margin-right: 3.125rem !important;
  margin-left: 3.125rem !important;
}

.mrl-6 {
  margin-right: 3.75rem !important;
  margin-left: 3.75rem !important;
}

.mrl-7 {
  margin-right: 4.375rem !important;
  margin-left: 4.375rem !important;
}

.mrl-8 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mrl-9 {
  margin-right: 5.625rem !important;
  margin-left: 5.625rem !important;
}

.mrl-10 {
  margin-right: 6.25rem !important;
  margin-left: 6.25rem !important;
}

.w-0 {
  width: 0% !important;
}

.w-1 {
  width: 10% !important;
}

.w-2 {
  width: 20% !important;
}

.w-3 {
  width: 30% !important;
}

.w-4 {
  width: 40% !important;
}

.w-5 {
  width: 50% !important;
}

.w-6 {
  width: 60% !important;
}

.w-7 {
  width: 70% !important;
}

.w-8 {
  width: 80% !important;
}

.w-9 {
  width: 90% !important;
}

.w-10 {
  width: 100% !important;
}

.w-0-px {
  width: 0px !important;
}

.w-1-px {
  width: 10px !important;
}

.w-2-px {
  width: 20px !important;
}

.w-3-px {
  width: 30px !important;
}

.w-4-px {
  width: 40px !important;
}

.w-5-px {
  width: 50px !important;
}

.w-6-px {
  width: 60px !important;
}

.w-7-px {
  width: 70px !important;
}

.w-8-px {
  width: 80px !important;
}

.w-9-px {
  width: 90px !important;
}

.w-10-px {
  width: 100px !important;
}

.w-11-px {
  width: 110px !important;
}

.w-12-px {
  width: 120px !important;
}

.w-13-px {
  width: 130px !important;
}

.w-14-px {
  width: 140px !important;
}

.w-15-px {
  width: 150px !important;
}

.w-16-px {
  width: 160px !important;
}

.w-17-px {
  width: 170px !important;
}

.w-18-px {
  width: 180px !important;
}

.w-19-px {
  width: 190px !important;
}

.w-20-px {
  width: 200px !important;
}

.w-21-px {
  width: 210px !important;
}

.w-22-px {
  width: 220px !important;
}

.w-23-px {
  width: 230px !important;
}

.w-24-px {
  width: 240px !important;
}

.w-25-px {
  width: 250px !important;
}

.w-26-px {
  width: 260px !important;
}

.w-27-px {
  width: 270px !important;
}

.w-28-px {
  width: 280px !important;
}

.w-29-px {
  width: 290px !important;
}

.w-30-px {
  width: 300px !important;
}

.fn-size-1 {
  font-size: 0.625rem !important;
}

.fn-size-2 {
  font-size: 0.75rem !important;
}

.fn-size-3, input[type=checkbox] + label,
input[type=radio] + label, .input-label {
  font-size: 0.875rem !important;
}

.fn-size-4 {
  font-size: 1rem !important;
}

.fn-size-5 {
  font-size: 1.125rem !important;
}

.fn-size-6 {
  font-size: 1.25rem !important;
}

.fn-size-7, .input-danger:after, .input-error:after {
  font-size: 1.375rem !important;
}

.fn-size-8 {
  font-size: 1.5rem !important;
}

.fn-size-9 {
  font-size: 1.625rem !important;
}

.fn-size-10 {
  font-size: 1.75rem !important;
}

.fn-size-11 {
  font-size: 1.875rem !important;
}

.fn-size-12 {
  font-size: 2rem !important;
}

.fn-size-13 {
  font-size: 2.125rem !important;
}

.fn-size-14 {
  font-size: 2.25rem !important;
}

.fn-size-15 {
  font-size: 2.375rem !important;
}

.fn-size-16 {
  font-size: 2.5rem !important;
}

.fn-size-17 {
  font-size: 2.625rem !important;
}

.fn-size-18 {
  font-size: 2.75rem !important;
}

.fn-size-19 {
  font-size: 2.875rem !important;
}

.fn-size-20 {
  font-size: 3rem !important;
}

.fn-weight-1 {
  font-weight: 100 !important;
}

.fn-weight-2 {
  font-weight: 200 !important;
}

.fn-weight-3 {
  font-weight: 300 !important;
}

.fn-weight-4 {
  font-weight: 400 !important;
}

.fn-weight-5 {
  font-weight: 500 !important;
}

.fn-weight-6 {
  font-weight: 600 !important;
}

.fn-weight-7 {
  font-weight: 700 !important;
}

.fn-weight-8 {
  font-weight: 800 !important;
}

.fn-weight-9 {
  font-weight: 900 !important;
}

.hline-1 {
  line-height: 0.625rem !important;
}

.hline-2 {
  line-height: 1.25rem !important;
}

.hline-3 {
  line-height: 1.875rem !important;
}

.hline-4 {
  line-height: 2.5rem !important;
}

.hline-5 {
  line-height: 3.125rem !important;
}

.hline-6 {
  line-height: 3.75rem !important;
}

.hline-7 {
  line-height: 4.375rem !important;
}

.hline-8 {
  line-height: 5rem !important;
}

.hline-9 {
  line-height: 5.625rem !important;
}

.hline-10 {
  line-height: 6.25rem !important;
}

.w-auto {
  width: auto;
}

.max-width {
  max-width: 100%;
}

.min-width {
  min-width: 100%;
}

.white-space {
  white-space: nowrap;
}

.hline-1 {
  line-height: 0.625rem !important;
}

.hline-2 {
  line-height: 1.25rem !important;
}

.hline-3 {
  line-height: 1.875rem !important;
}

.hline-4 {
  line-height: 2.5rem !important;
}

.hline-5 {
  line-height: 3.125rem !important;
}

.hline-6 {
  line-height: 3.75rem !important;
}

.hline-7 {
  line-height: 4.375rem !important;
}

.hline-8 {
  line-height: 5rem !important;
}

.hline-9 {
  line-height: 5.625rem !important;
}

.hline-10 {
  line-height: 6.25rem !important;
}

.mw-1 {
  min-width: 100px !important;
}

.mw-2 {
  min-width: 200px !important;
}

.mw-3 {
  min-width: 300px !important;
}

.mw-4 {
  min-width: 400px !important;
}

.mw-5 {
  min-width: 500px !important;
}

.mw-6 {
  min-width: 600px !important;
}

.mw-7 {
  min-width: 700px !important;
}

.mw-8 {
  min-width: 800px !important;
}

.mw-9 {
  min-width: 900px !important;
}

.mw-10 {
  min-width: 1000px !important;
}

@media only screen and (max-width: 768px) {
  .mw-1-md {
    min-width: 100px !important;
  }

  .mw-2-md {
    min-width: 200px !important;
  }

  .mw-3-md {
    min-width: 300px !important;
  }

  .mw-4-md {
    min-width: 400px !important;
  }

  .mw-5-md {
    min-width: 500px !important;
  }

  .mw-6-md {
    min-width: 600px !important;
  }

  .mw-7-md {
    min-width: 700px !important;
  }

  .mw-8-md {
    min-width: 800px !important;
  }

  .mw-9-md {
    min-width: 900px !important;
  }

  .mw-10-md {
    min-width: 1000px !important;
  }
}
@media only screen and (max-width: 480px) {
  .mw-1-sm {
    min-width: 100px !important;
  }

  .mw-2-sm {
    min-width: 200px !important;
  }

  .mw-3-sm {
    min-width: 300px !important;
  }

  .mw-4-sm {
    min-width: 400px !important;
  }

  .mw-5-sm {
    min-width: 500px !important;
  }

  .mw-6-sm {
    min-width: 600px !important;
  }

  .mw-7-sm {
    min-width: 700px !important;
  }

  .mw-8-sm {
    min-width: 800px !important;
  }

  .mw-9-sm {
    min-width: 900px !important;
  }

  .mw-10-sm {
    min-width: 1000px !important;
  }
}

/*# sourceMappingURL=zcss.css.map */
